html,body,.container {
  height:100%;
}

section.admin, section.user {
  .container {
    padding: 50px;
    .row {
      min-height:100%;
      padding: 50px;
      .col {
        text-align: center;
        padding: 50px;
      }
    }
  }
}

section.user {
  background-color: #A2AEE3;
  min-height: 300px !important;
  .container {
    .row {
      .col {
        min-height: 500px !important;
      }
    }
  }
}

section.home {
  min-height: 100%; 
  min-width: 100%;
  background: -webkit-linear-gradient(left, rgb(247, 141, 161) 0%, rgb(254, 155, 140) 100%);
  .container {
    .row {
      .col {
        min-height: 700px;
      }
      .thor-left {
        text-align: left;
        background-color: green !important;
      }
      .hulk-right {
        text-align: right;
        background-color: blue;
      }
    }
  }
}

.insights-class {
  font-size: inherit;
}

.size {
  height: 620px;
  width: 1000px;
}

.lol h1 {
  color: black !important;
}
.col-4 {
  padding-top: 100px;
}

input.search-box {
  width: 700px;
  height: 50px;
  border-top: none;
  
  box-shadow: 8px 5px 5px grey !important;
}