<!DOCTYPE html>
<html>
  <head>
    <title>Insights</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="data.json"></script>
  </head>
  <body>
    <section>
      <!-- <h1>This is a chart</h1><br> -->
      <!-- <h2>Get Insights</h2>
      <form>
        <select class="browser-default custom-select insights-class">
          <option selected>Insights</option>
          <option value="1">Cities vs Revenue Generated</option>
          <option value="2">Most popular products</option>
          <option value="3">Monthly products sold</option>
        </select>
      </form>
      <br>
      <h3 class="insights-result"></h3> -->
      <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    </section>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>